{% extends "basic.html" %}

{% block title %}Questions And Answer{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Questions And Answer</li>
{% endblock %}

{% block content %}

<div class="mb-4">
    <a href="{% url 'question:new'%}" class="btn btn-primary">Ask Question</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Topic</th>
            <th>Likes</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
          <tr>
            <td>
                <a href="{% url 'question:detail' question.slug %}">{{ question.question }}</a>
                <small class="text-muted d-block">{{ question.created_at }}</small>
                <small class="text-muted d-block">
                   By: {{ question.starter }}
                </small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}