{% extends "basic.html" %}

{% block title %}Board{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Topic</th>
            <th>Likes</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
          <tr>
            <td>
                <a href="{% url 'board:topic_detail' topic.slug %}">{{ topic.title }}</a>
                <small class="text-muted d-block">{{ topic.created_at }}</small>
                <small class="text-muted d-block">Genre:
                {% for genre in topic.genre.all %}
                  {{ genre }}
                {% endfor %}
                </small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">{{ topic.get_comments_count }}</td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}